
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-card style="margin: 0px;border: none;width: 100%">
    <img src="../../assets//imgs/logo.png" style="width: 70%; margin: auto; padding: 20px"/>
  </ion-card>
  <ion-list>
      <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text"[(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password"[(ngModel)]="password"></ion-input>
          </ion-item>
      
  </ion-list>
  <button ion-button block color="danger" (click)="login()">Login</button>
  <button ion-button block clear color="danger">No Account?Sign Up Here</button>

</ion-content>
