<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-slides autoplay="3000" pager="true">
      <ion-slide *ngFor="let number of [1,2,3,4]">
        <img src="./assets/imgs/{{number}}.jpg" alt="image1">
        <!-- <h1>Slide 1</h1> -->
      </ion-slide>

      <!-- <ion-slide>
          <img src="http://placehold.it/350x200" alt="image2">

      </ion-slide> -->

    </ion-slides>
  </ion-card>
  <hr style="margin-top: 10px;">

  <img style="margin-top: 10px;" src="./assets/imgs/banner2.jpg" alt="banner_image">

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products">
          <ion-card no-padding>
            <img [src]="product.featured_src" alt="products">
            <h1 padding center>
              {{ product.title }}
            </h1>
            <p center padding [innerHTML]="product.short_description"></p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of moreProducts" text-wrap  (click)="onProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src" alt="more products" />

      </ion-thumbnail>
      <h2>{{product.title}}</h2>
      <p>
        <span [innerHTML]="product.short_description.substr(0,50) +'...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>