<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">
    <ion-card>
      <img src="./assets/imgs/rock.png" alt="Rockstar_image">
      <div class="card-title">WOOIONIC</div>
      <div class="card-subtitle">Keep Shopping...</div>
    </ion-card>
    <ion-list>
      <!-- <button menuClose ion-item >
        Home
      </button> -->
      <ion-item *ngFor="let category of categories" text-wrap (click)="openCategoryPage(category)" menuClose>
        <ion-icon [name]="category.icon" item-left large></ion-icon>
        <h2>{{  category.name }}</h2>
        <p>{{category.description}}</p>
      </ion-item>
<ion-item-divider color="danger">Account</ion-item-divider>
      <ion-item (click)="openPage('signup')" menuClose *ngIf="!loggedIn">
        <ion-icon name="md-clipboard" item-left large></ion-icon>
        <h2>Sign Up</h2>
        <p>For a new account</p>
      </ion-item>
      <ion-item (click)="openPage('login')" menuClose *ngIf="!loggedIn">
          <ion-icon name="log-in" item-left large></ion-icon>
          <h2>Login</h2>
          <p>Using email and password</p>
        </ion-item>

        <ion-item  *ngIf="loggedIn" menuClose>
          <ion-icon name="contact" item-left large></ion-icon>
          <h2>{{(this.user.firstname==""?this.user.username:this.user.firstname)||""}}</h2>
          <p>Welcome</p>
        </ion-item>
        <ion-item (click)="openPage('cart')"  *ngIf="loggedIn" menuClose>
          <ion-icon name="cart" item-left large></ion-icon>
          <h2>Your Cart</h2>
          <p>Check Items in your cart</p>
        </ion-item>
        <ion-item (click)="openPage('logout')"  *ngIf="loggedIn" menuClose>
          <ion-icon name="log-out" item-left large></ion-icon>
          <h2>Logout</h2>
          <p>of your Account</p>
        </ion-item>
     
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="homePage"></ion-nav>