.card-background-page {
ion-card{
    position: relative;
    text-align: center;
    margin: 0px !important;
    width: 100% !important;
}
.card-title{
    position: absolute;
    top: 36%;
    width: 100%;
    font-weight: bold;
    font-size: 2.0em;
    color: #fff;
}
.card-subtitle{
    position: absolute;
    top: 60%;
    width: 100%;
    // font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}
}
